.events {
    .tituloEvento {
        line-height: 1.2em;
        text-align: center;
        font-size: 45px;
        text-transform: uppercase;
        margin-top: 50px;
    }

    .card {
        border: 0;
        padding: 0 30px;
        margin-bottom: 60px;
        position: relative;

        &:hover {
            img {
                transform: scale(1.1);
            }

            .card-body {
                border-color: $border-color_1;

                .card-title {
                    a {
                        color: $color_1;
                    }
                }
            }
        }
    }

    .card-img {
        width: calc(100% + 60px);
        margin-left: -30px;
        overflow: hidden;
        z-index: 9;
        border-radius: 0;

        img {
            max-width: 100%;
            transition: all 0.3s ease-in-out;
        }
    }

    .card-body {
        z-index: 10;
        background: #fff;
        border-top: 4px solid #fff;
        padding: 10px;
        box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
        margin-top: -60px;
        transition: 0.3s;
    }

    .card-title {
        font-weight: 700;
        text-align: center;
        margin-bottom: 20px;

        a {
            color: $color_10;
            transition: 0.3s;
        }
    }

    .card-text {
        color: $color_11;
    }

    .read-more {
        a {
            color: $color_12;
            text-transform: uppercase;
            font-weight: 600;
            font-size: 12px;
            transition: 0.3s;

            &:hover {
                color: $color_1;
            }
        }
    }
}

.colorBtn {
    background-color: $background-color_5;
}