.imagenFondo {
    display: flex;
    background-image: url(../img/guarderia-inicio.jpg);
    background-size: cover;
    height: calc(100vh - 100px);
    margin: 5px 0px 100px 0px;

    .cajaIntro {
        border-radius: 4px;
        height: 270px;
        width: 500px;
        margin: auto;
        background-color: $background-color_2;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        box-shadow: 20px 2px 40px;
        opacity: 85%;
        max-width: 90%;

        .caja {
            .bienvenidoA {
                text-align: center;
                font-size: 23px;
            }

            .titulo {
                line-height: 1.2em;
                text-align: center;
                font-size: 45px;
                text-transform: uppercase;
            }

            .objetivo {
                text-align: center;
                font-size: 30px;

                .jugar {
                    color: $color_1;
                }

                .aprender {
                    color: $color_2;
                }

                .crecer {
                    color: $color_3;
                }
            }
        }
    }
}

:root {
    --font-default: "Open Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-primary: "Amatic SC", sans-serif;
    --font-secondary: "Inter", sans-serif;
    --color-default: #212529;
    --color-primary: lightcoral;
    --color-secondary: #37373f;
}

h2 {
    font-family: $font-family_3;
    text-align: center;
}

section {
    overflow: hidden;
    padding: 80px 0;
    background-color: $background-color_3;
}

.section-bg {
    background-color: $background-color_4;
}

.section-header {
    text-align: center;
    padding-bottom: 30px;

    h2 {
        font-size: 13px;
        letter-spacing: 1px;
        font-weight: 400;
        margin: 0;
        padding: 0;
        color: $color_5;
        text-transform: uppercase;
        font-family: $font-family_2;
    }

    p {
        margin: 0;
        font-size: 48px;
        font-weight: 400;
        font-family: $font-family_4;

        span {
            color: $color_3;
        }
    }
}

.blanco {
    background-color: $background-color_2;
    padding-top: 0;
}

.tituloAbout {
    text-transform: uppercase;
}

.about {
    .about-img {
        min-height: 500px;
    }

    .content {
        ul {
            padding: 10px;

            li {
                padding: 0 0 8px 26px;
                position: relative;
            }

            i {
                position: absolute;
                font-size: 20px;
                left: 0;
                top: -3px;
                color: $color_6;
            }
        }
    }
}

.testimonials {
    .testimonials-carousel {
        overflow: hidden;
    }

    .testimonials-slider {
        overflow: hidden;
    }

    .testimonial-item {
        box-sizing: content-box;
        padding: 30px 30px 30px 60px;
        margin: 30px 15px;
        min-height: 200px;
        border: 1px solid #eef0ef;
        position: relative;
        background: #fff;

        .testimonial-img {
            width: 170px;
            border-radius: 10px;
            border: 5px solid #eef0ef;
            position: absolute;
            right: -10px;
            top: -27px;
        }

        .testimonial-img:hover{
            width: 250px;
        }

        h3 {
            font-size: 18px;
            font-weight: bold;
            margin: 10px 0 5px 0;
            color: $color_7;
        }

        h4 {
            font-size: 14px;
            color: $color_8;
            margin: 0;
        }

        .quote-icon-left {
            color: $color_9;
            font-size: 26px;
            display: inline-block;
            left: -5px;
            position: relative;
        }

        .quote-icon-right {
            color: $color_9;
            font-size: 26px;
            display: inline-block;
            right: -5px;
            position: relative;
            top: 10px;
        }

        p {
            font-style: italic;
            margin: 15px auto 15px auto;
        }
    }

    .swiper-pagination {
        margin-top: 20px;
        position: relative;
    }
}