@media (max-width: 500px) {
    .actividad {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 30px;
        margin-bottom: 100px;
    }
}

@media (min-width: 501px) and (max-width: 1023px) {
    .actividad {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
        margin-bottom: 100px;
    }
}

@media (min-width: 1024px) {
    .actividad {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
        margin-bottom: 100px;
    }
}