$color_1: lightgreen;
$color_2: lightskyblue;
$color_3: lightcoral;
$color_4: var(--color-default);
$color_5: #7f7f90;
$color_6: var(--color-primary);
$color_7: #111;
$color_8: #999;
$color_9: #c1ecce;
$color_10: #37423b;
$color_11: #5e5e5e;
$color_12: #777777;
$font-family_1: 'Roboto', sans-serif;
$font-family_2: var(--font-default);
$font-family_3: var(--font-secondary);
$font-family_4: var(--font-primary);
$background-color_1: #f4f4fa;
$background-color_2: #fff;
$background-color_3: lightblue;
$background-color_4: #7f7f90;
$background-color_5: lightgreen;
$background-color_6: aliceblue;
$border-color_1: lightgreen;
$color_btn1:rgb(210, 240, 249);
$color_btn2: #eef0ef;